{#{% extends "base.html.twig" %}#}
{#{{ form_start(form) }}
    <table class="table table-striped table-light mt-4 border border-secondary-rounded text-center">
        <thead>
        <tr>
            {#<th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>#}{#
            <th><button class="btn btn-dark btn-md btn-block ">Groupes</button></th>
            <th><button class="btn btn-dark btn-md btn-block">Id Substance</button></th>
            <th><button class="btn btn-dark btn-md btn-block">Nb test item</button></th>
            <th><button class="btn btn-dark btn-md btn-block">Voie admin</button></th>
            <th><button class="btn btn-dark btn-md btn-block">Date 1er prélèvement</button></th>

        </tr>
        </thead>
        <tbody>
        <tr>

            <td><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Groupes"></td>
            <td><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Id Substance"></td>
            <td><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nb test item"></td>
            <td><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Voie admin"></td>
            <td><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Date 1er prélèvement"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <div class="row">
            <div class="col-md-4">{{ form_row(form.groupe ) }}</div>
            <div class="col-md-4">{{ form_row(form.nbrAnimaux) }}</div>
            <div class="col-md-4">{{ form_row(form.voieAdmin) }}</div>
            <div class="col-md-4">{{ form_row(form.datePremierPrelevement) }}</div>
        </div>
        </tbody>
    </table>


<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
#}